body {
    margin: 0;
    }

.header {
    background-image: url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.container1 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/img2.jpg);
    display: flex;
}

.text {
    
    height: 500px;
    font-family: 'Francois One', sans-serif;
    color: #343535;
    font-size: 35px;
    justify-content: right;
    margin: 170px 0px 0 1025px;
}

.container-site-head {
    display: flex;
    background-color: #343535;
}

.container-site {
    width: 706px;
    height: 525px;
    transition: 0.3s;
}

a {
    width: 705px;
    font-family: 'Francois One', sans-serif;
    font-size: 76px;
    color: #fef4e5;
    margin: 190px 0px 0 -34px;
    text-decoration: none;
    position: absolute;
    text-align: center;
}

.block1 {
    background-color: #c8c9e8;
}

.block2 {
    background-color: #a47969;
}

.block3 {
    background-color: #f8abb3;
}

.block4 {
    background-color: #fdc2b0;
}

.block5 {
    background-color: #fed0c1;
}

.block6 {
    background-color: #d3ceae;
}

.container-site:hover {
    transform: scale(1.2);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.price {
    width: 100%;
    height: 100vh;
    background-image: url(../img/img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}