body {
    margin: 0;
    }

.header {
    background-image: url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Russo One', sans-serif;
    color: #000000;
    font-size: 240px;
    text-align: center;
}

.shvec {
    width: 100%;
    font-family: 'Russo One', sans-serif;
    color: #000000;
    font-size: 240px;
    text-align: center;
    position: absolute;
    margin-top: 350px;
}

.png {
    background-image: url(../img/img4.png);
    background-repeat: no-repeat;
    width: auto;
    height: 250px;
    background-size: contain;
    left: 0;
    right: 0;
    top: 0;
    margin: 425px auto 0px 836px;
    position: absolute;
}

.container1 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/img2.jpg);
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
}

.text1 {
    font-family: 'Russo One', sans-serif;
    color: #343535;
    position: absolute;
    font-size: 89px;
    width: 450px;
    margin: 155px 0 0px 262px;
    text-align: center;
}

.text { 
    width: 800px;
    height: 0;
    font-family: 'Francois One', sans-serif;
    color: #343535;
    font-size: 35px;
    justify-content: right;
    margin: 163px 0px 0 1025px;
}

.container-site-head {
    display: flex;
    background-color: #343535;
}

.container-site {
    width: 100%;
    height: 525px;
    transition: 0.3s;
    position: relative;
}

a {
    width: 100%;
    font-family: 'Francois One', sans-serif;
    font-size: 76px;
    color: #fef4e5;
    margin-top: 190px;
    text-decoration: none;
    position: absolute;
    text-align: center;
}

.block1 {
    background-color: #c8c9e8;
}

.block2 {
    background-color: #a47969;
}

.block3 {
    background-color: #f8abb3;
}

.block4 {
    background-color: #ffad94;
}

.block5 {
    background-color: #ca8973;
}

.block6 {
    background-color: #faefa7;
}

.container-site:hover {
    transform: scale(1.2);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.price {
    width: 100%;
    height: 100vh;
    background-color: #ffe1bd;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.price1 {
    font-family: 'Russo One', sans-serif;
    font-size: 95px;
    color: #343535;
    position: absolute;
    margin: 50px 0 0 50px;
}

.container-price-site {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 62px;
    color: #343535;
    position: absolute;
    margin: 82px 0 0 975px;
}

.container-price {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 62px;
    color: #343535;
    position: absolute;
    margin: 82px 0px 0px 1679px;
}

hr {
    display: block;
    width: 46.2%;
    color: #343535;
    margin: 150px 0 0 976px;
    position: absolute;
    border: none;
    border-bottom: #343535 2px solid;
}

.container-price-text {
    display: inline;
    font-family: 'Russo One', sans-serif;
    position: absolute;
    font-size: 25px;
    color: #343535;
    margin: 0 0 0 0;
    line-height: 50px;
}

.container-price-text1 {
    display: flex;
    width: 28%;
    font-family: 'Russo One', sans-serif;
    position: absolute;
    font-size: 25px;
    color: #343535;
    line-height: 50px;
}